html, body {
	background-color: #002b36;
	height: 100%;
	width: 100%;
    margin: auto;
    position: relative;
	padding: 10px;
	font-family: 'Inconsolata';
    color: #d33682;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-icon {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
    vertical-align:middle;
}

.link-icon {
	width: 35px;
	height: 35px;
	margin-right: 0px;
    vertical-align:middle;
}

@font-face {
	font-family: 'Inconsolata';
	src: url(https://fonts.googleapis.com/css?family=Inconsolata);
}

