html, body, #tbl_wrap {
	background-color: #002b36;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: 'Inconsolata';
    color: #d33682;
}

#td_wrap {
    vertical-align:middle;
    text-align: center;
}

#center_text {
    border-size: 1px;
    border-style:solid;
    border-color: #cb4b16;
}

@font-face {
	font-family: 'Inconsolata';
	src: url(https://fonts.googleapis.com/css?family=Inconsolata);
}

.menu-icon {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
    vertical-align:middle;
}

.link-icon {
	width: 35px;
	height: 35px;
	margin-right: 0px;
    vertical-align:middle;
}

.footer {
	position: relative;
	/*padding-top: 20px;*/
	margin-top: -120px;
	height: 100%;
	clear: both;
}

